<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>807752046700-4lntjtvqjmgcjhc95ebnmnevgrik7uce.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.807752046700-4lntjtvqjmgcjhc95ebnmnevgrik7uce</string>
	<key>API_KEY</key>
	<string>AIzaSyBBe5xcURPbKbAun4FKH6uxnl_5ZQ0nMuA</string>
	<key>GCM_SENDER_ID</key>
	<string>807752046700</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.aerovaniaApp</string>
	<key>PROJECT_ID</key>
	<string>aerovania-app</string>
	<key>STORAGE_BUCKET</key>
	<string>aerovania-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:807752046700:ios:38a0d86e3508572ac66049</string>
</dict>
</plist>